<%- include('layout_head') -%>
<div style="margin: 0px 40px;">
  <h1>About</h1>
  <p>This site is an assignment for the <a href="https://www.theodinproject.com/paths/full-stack-javascript">Full Stack JavaScript course</a> on <a href="https://www.theodinproject.com/">The Odin Project</a>.</p>
  <p>This is a message board, where visitors who aren't signed in can view posts, but not the authors.</p>
  <p>If you would like to view the authors, you can sign up to become a <strong>Guest</strong>.</p>
  <p>In order to create posts and comments and interact with the community, you will need to be upgraded to a <strong>Member.</strong></p>
</div>
<%- include('layout_foot') -%>
