<%- include('layout_head') -%>
<% if (user) { %>
  <p><%= currentUser.username %></p>
  <a href='/logout'>Logout</a>
<% } else { %>
  <a href="/login">Login</a>
<% } %>
<%- include('layout_foot') -%>
