<%- include('layout_head') -%>
<div class="container-sm" style="width: 400px">
  <h2 style="margin-bottom: 24px;">Login</h2>
  <form method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<%- include('layout_foot') -%>
